.modalBackground
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .modalContainer
    {
        width: auto;
        height: auto;
        padding: 5rem;
        background-color: $white;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: 0rem 0rem 45rem rgba(0, 0, 0, 0.1);
        margin: 3.5rem;

        .close-btn
        {
            font-size: 2rem;
            padding: .4rem 1.2rem;
            border-radius: 50%;
            position: absolute;
            top: 2rem;
            right: 2rem;
            background: transparent;
            cursor: pointer;

            &:hover
            {
                color: $main-color;
            }
        }

        .title
        {
            margin: 2rem 0;
            h1
            {
                color: $black;
                font-size: 2rem;
                font-family: $font-mont;
                font-weight: 800;
                text-transform: uppercase;
                text-align: center;
                line-height: 2;
            }

            p
            {
                color: $black;
                font-size: .9rem;
                font-family: $font-mont;
                text-transform: none;
                line-height: 1.5;
                text-align: center;
                margin-top: .5rem;
            }
        }

        .body
        {
            .row
            {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                padding: 1rem 0 0;
            }
        }

        .modal-footer
        {
            margin-top: 3rem;

            button
            {
                padding: .9rem 1.25rem;
                margin: 0 2rem 0 0;
                width: 100%;
                cursor: pointer;
                border-radius: .2rem;
                box-shadow: .1rem .1rem 75rem 0rem rgba(0, 0, 0, 0.1);
                font-weight: 600;
                background-color: #34495e;
                color: $white;

                &:hover
                {
                    color: $black;
                    background-color: #eee;
                }
            }
        }

    }
}