.primary-btn
{
    margin-top: 1rem;
    background-color: $main-color;
    display: inline-block;
    padding: .7rem 1.35rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .75rem;
    border-bottom: 1px solid $white;
    box-shadow: .2rem .2rem .25rem $light-purple;

    &:hover
    {
        background-color: $dark-color;
        transform: translateY(-2px);
    }
}

.secondary-btn
{
    margin-top: 1rem;
    background: $med-pink;
    display: inline-block;
    padding: .7rem 1.35rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .75rem;
    border-bottom: 1px solid $white;
    box-shadow: .2rem .2rem .25rem $light-pink;

    &:hover
    {
        background: $pink;
        transform: translateY(-2px);
    }
}

.third-btn
{
    margin-top: 1rem;
    background: linear-gradient(to right, $main-color, orangered);
    display: inline-block;
    padding: 1rem 1.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .1rem;
    transition: all 0.3s ease-in;
    text-transform: none;

    &:hover
    {
        background: linear-gradient(to left, $main-color, orangered);
        transform: translateY(-2px);
    }
}

.fourth-btn
{
    margin-top: 1rem;
    background: linear-gradient(to top, $main-color, $med-pink);
    display: inline-block;
    padding: 1rem 1.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .1rem;
    transition: all 0.3s ease-in;
    text-transform: none;

    &:hover
    {
        background: linear-gradient(to left, $main-color, orangered);
        transform: translateY(-2px);
    }
}