// variables
$main-color: #7b009d;
$dark-color: #5e007b;
$secondary-color : orangered;
$light-purple: rgb(250, 225, 250);
$lighter-purple : #f4ecf8;
$pink: #ff4e6e;
$med-pink : #FF6582;
$blue: #224bcf;
$black: #302831;
$light-black: #444;
$lightest-black: #535c68;
$white: #fff;
$light-pink: #ffeaf4;
$light-blue: #e9edfb;
$light-color: #666;
$light-bg: #f5f5f5;
$border: .2rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
$gray150 : #f4f6fb;
$gray200 : #eef1f6;
$green-black : #037872;
$silver : #e5e7ed;

// Font Family

$font-mont : 'Montserrat', sans-serif;
$font-poppin : 'Poppins', sans-serif;
$font-antiqua: 'Inknut Antiqua', serif;
$font-satisfy: 'Satisfy', cursive;
$font-sans: 'Alegreya Sans SC', sans-serif;
$font-sriracha: 'Sriracha', cursive;
$font-oswald: 'Oswald', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-openSans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;